<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
				<rule name="rule 1R">
					<match url="^api(|/)$"  />
					<action type="Rewrite" url="/do.php?action={R:1}"  />
				</rule>
				<rule name="rule 2R">
					<match url="^api/([a-zA-Z0-9_-]+)(|/)$"  />
					<action type="Rewrite" url="/do.php?action={R:1}"  />
				</rule>
				<rule name="rule 3R">
					<match url="^ase(|/)$"  />
					<action type="Rewrite" url="/ase.php?action={R:1}"  />
				</rule>
				<rule name="rule 4R">
					<match url="^ase/([a-zA-Z0-9_-]+)(|/)$"  />
					<action type="Rewrite" url="/ase.php?action={R:1}"  />
				</rule>
				<rule name="rule 5R">
					<match url="^(|/)$"  />
					<action type="Rewrite" url="/index.php?url={R:1}"  />
				</rule>
				<rule name="rule 6R">
					<match url="^([a-zA-Z0-9_-]+)(|/)$"  />
					<action type="Rewrite" url="/index.php?url={R:1}"  />
				</rule>
				<rule name="rule 7R">
					<match url="^(.*).html$"  ignoreCase="true" />
					<action type="Rewrite" url="/{R:1}.php"  />
				</rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>

