<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
				<rule name="rule 1R">
					<match url="^(|/)$"  />
					<action type="Rewrite" url="/index.php?url={R:1}"  />
				</rule>
				<rule name="rule 2R">
					<match url="^([a-zA-Z0-9_-]+)(|/)$"  />
					<action type="Rewrite" url="/index.php?url={R:1}"  />
				</rule>
				<rule name="rule 3R">
					<match url="^(.*)\.htm$"  ignoreCase="true" />
					<action type="Rewrite" url="/{R:1}.php"  />
				</rule>
				<rule name="rule 4R">
					<match url="^(|/)$"  />
					<action type="Rewrite" url="/dash.php?page={R:1}"  />
				</rule>
				<rule name="rule 5R">
					<match url="^([a-zA-Z0-9_-]+)(|/)$"  />
					<action type="Rewrite" url="/dash.php?url={R:1}"  />
				</rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>

