@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html, body {
	background: #ececec url("../img/backdrop.png") right bottom no-repeat fixed;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #333;
    cursor: default;
}

nav {
	display: block;
	margin: 0 auto;
    position: relative;
    width: 1050px;
    height: 50px;
    padding-top: 20px;
    margin-bottom: 20px;
}

nav ul {
	width: 1050px;
	height: 50px;
	margin: 0 auto;
	padding: 0;
}

nav ul li {
	list-style-type: none;
	float: left;
	height: 50px;
	line-height: 50px;
    width: 155px;
    text-align: center;
    background: #2ecc71;
    border-bottom: 3px solid #27ae60;
    color: #fff;
    cursor: pointer;
}

nav ul li:first-child {
    border-radius: 3px 0 0 3px;
}

nav ul li:hover {
    transition: border ease-out;
    background: #27ae60;
    transform: translateY(3px);
    border-bottom: 0;
}

nav ul li:last-child {
    border-radius: 0 3px 3px 0;
	float: right;
    width: 120px;
    background: #e74c3c;
    border-bottom: 3px solid #c0392b;
}

nav ul li:last-child:hover {
    transition: border ease-out;
    background: #c0392b;
    transform: translateY(3px);
    border-bottom: 0;
}

header {
	background: #D5E2EA url("../img/header-bg.png") no-repeat;
	display: block;
	position: relative;
    margin: 0 auto;
	width: 1050px;
	height: 150px;
    border-radius: 3px;
    border-bottom: 3px solid #34b1df;
    margin-bottom: 10px;
}

header table {
	border: 0;
	width: 1000px;
	height: 150px;
	margin: auto;
	color: #fff;
}

main {
	display: block;
	position: relative;
	width: 1070px;
	margin: auto;
}

main input.textfield {
	line-height: 30px;
	background: #ecf0f1;
	text-align: center;
	border: 0;
	border-bottom: 1px solid #282828;
	font-size: 18px;
	margin-right: 20px;
}

.btn {
	display: inline-block;
	text-decoration: none;
	padding: 10px 20px;
	font-weight: bold;
	border: 0;
	border-radius: 5px;
}

.btn.green {
    text-align: center;
    background: #2ecc71;
    border-bottom: 3px solid #27ae60;
    color: #fff;
    cursor: pointer;
}

.btn.green:hover {
	transition: border ease-out;
    background: #27ae60;
    transform: translateY(3px);
    border-bottom: 0;
    margin-bottom: 3px;
}

header span.online {
	display: inline-block;
	background: #fff;
	box-shadow: inset 0 0 0 2px #E6E5E5;
	border: 1px solid #000;
	color: #282828;
	padding: 5px 10px;
	font-size: 13px;
	border-radius: 0 10px 10px 10px;
	font-weight: bold;
}

main span.me-stats {
	display: block;
	color: #fff;
	padding: 0 10px 0 35px;
	height: 30px;
	line-height: 30px;
	font-size: 15px;
	border-radius: 5px;
	text-align: left;
}

main .me-news {
    width: 300px;
    margin: 10px auto;
    border: 1px solid #fff;
}

main .me-news-bg {
    position: relative;
    height: 71px;
    width: 300px;
    color: #ecf0f1;
    transition: 0.5s;
}

main .me-news-bg:hover {
    transition: 0.5s;
    background-position-y: bottom !important;
}

main .me-news-bot {
    background-color: rgba(0, 0, 0, 0.75);
    width: 300px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    bottom: 0;
}

main .me-news-bot-left {
    float: left;
    font-weight: 700;
    margin-left: 5px;
}

main .me-news-bot-right {
    float: right;
    margin-right: 5px;
}

main .col {
	color: #333;
	float: left;
	margin: 10px;
}

main .col.col-1 {
	width: calc(100% - 20px);
}

main .col.col-2 {
	width: calc(50% - 20px);
}

main .col.col-2-3 {
	width: calc(66.666% - 20px);
}

main .col.col-3 {
	width: calc(33.333% - 20px);
}

main .col.col-3-4 {
	width: calc(75% - 20px);
}

main .col.col-4 {
	width: calc(25% - 20px);
}

main .col.bg {
	background: #fff;
	border-radius: 3px;
    border-bottom: 3px solid #d3d3d3;
}

main .col .hl {
	display: inline-block;
	width: calc(100% - 20px);
	padding: 10px 0;
	color: #333;
	border-bottom: 1px solid #d3d3d3;
    margin: 0 10px;
	color: #27ae60;
	font-weight: bold;
}

main .col a {
    text-decoration: none;
    color: #3498db;
}

main .col a:hover {
    text-decoration: underline;
    color: #2980b9;
}

main hr {
	border: 0;
	height: 2px;
	background: #2685BC;
	margin: 0 10px;
}

main .col .inner {
	padding: 10px;
}

main .col .inner.footer {
	font-size: 13px;
    text-align: center;
}

main a.tooltip {
  position: relative;
  display: inline;
}

main a.tooltip span {
  position: absolute;
  padding: 10px;
  width: 180px;
  color: #FFFFFF;
  background: #000000;
  text-align: center;
  visibility: hidden;
  border-radius: 3px;
}

main a.tooltip span:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-bottom: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

main a:hover.tooltip span {
  visibility: visible;
  opacity: 0.75;
  top: 30px;
  left: 50%;
  margin-left: -100px;
  z-index: 999;
}

main .autoplay {
	width: 100px;
}