@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html, body {
    background: #ececec url("../img/backdrop.png") right bottom no-repeat fixed;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #333;
    cursor: default;
}

.msg {
	width: calc(100% - 20px);
	color: #fff;
	line-height: 30px;
	border-bottom: 3px solid #c0392b;
	background-color: #e74c3c;
	padding: 10px;
}

main {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 454px;
    top: 50px;
}

main .left {
    width: 302px;
    float: left;
}

main .right {
    width: 132px;
    float: right;
}

a {
    text-decoration: none;
    color: #3498db;
}

a:hover {
    text-decoration: underline;
    color: #2980b9;
}

main .left .register-box {
    background: #fff;
    width: 260px;
    border-radius: 3px;
    border-bottom: 3px solid #cacaca;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 3px #dedede;
}

main .left .headline {
    width: 100%;
    margin-bottom: 20px;
}

main .left .headline .name {
    font-weight: 700;
    font-size: 20px;
    margin-left: -3px;
}

main .left .headline .name a {
    color: #1abc9c;
}

main .left .headline .name a:hover {
    text-decoration: none;
    color: #16a085;
}

main .left .headline .online {
    background: #ececec;
    color: #999;
    padding: 5px 10px;
    border-bottom: 3px solid #cacaca;
    border-radius: 3px;
    font-size: 15px;
    margin-right: -4px;
}

main .left .textfield {
    background: #ececec;
    color: #333;
    text-align: center;
    font-size: 18px;
    width: 248px;
    padding: 10px 5px;
    border: 0;
    border-bottom: 3px solid #cacaca;
    border-radius: 3px;
    margin-bottom: 20px;
}

main .left .btn {
    display: inline-block;
    color: #fff;
    line-height: 40px;
    border: 0;
    margin: 0;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

main .left .btn.back {
    border-radius: 3px 0 0 3px;
    background: #e74c3c;
    width: 109px;
    border-bottom: 3px solid #c0392b;
}

main .left .btn.back:hover {
    transition: border ease-out;
    background: #c0392b;
    transform: translateY(3px);
    border-bottom: 0;
}

main .left .btn.reg {
    border-radius: 0 3px 3px 0;
    background: #2ecc71;
    width: 150px;
    margin-left: -4px;
    border-bottom: 3px solid #27ae60;
}

main .left .btn.reg:hover {
    transition: border ease-out;
    background: #27ae60;
    transform: translateY(3px);
    border-bottom: 0;
}

main .left .box {
    width: 100%;
    font-size: 15px;
    margin-top: 20px;
    text-align: center;
}

main .left footer {
    display: block;
    background: #fff;
    width: 260px;
    position: relative;
    border-radius: 3px;
    border-bottom: 3px solid #cacaca;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 12px;
    text-align: center;
    box-shadow: 0 0 3px #dedede;
}

main .right .rec-users {
    background: #fff;
    width: 100px;
    height: 335px;
    border-radius: 3px;
    border-bottom: 3px solid #cacaca;
    padding: 20px 15px 28px 15px;
    margin-bottom: 20px;
    box-shadow: 0 0 3px #dedede;
}

main .right .rec-list-user {
    text-align: center;
    vertical-align: bottom;
    height: 80px;
    font-size: 12px;
}

main .right .rec-list-user hr {
    border: 0;
    background: #ececec;
    height: 1px;
}

main .right tr:last-child hr {
    height: 0;
}

main .right .rand-user {
    background: #fff;
    width: 100px;
    height: 100px;
    border-radius: 3px;
    border-bottom: 3px solid #cacaca;
    padding: 10px 15px 28px 15px;
    margin-bottom: 20px;
    box-shadow: 0 0 3px #dedede;
}